---
- name: install and configure bind9 on Ubuntu server 18.04
  hosts: 
    1.2.3.4 
  vars_files:
      - vars/dns_vars.yaml
  tasks:
    - name: update
      apt:
          update_cache: yes
      become: yes
      tags: update
    - name: upgrade
      apt:
          upgrade: yes
      become: yes
    - name: upgrade dist
      apt:
          upgrade: dist
      become: yes
    - name: use apt to install bind
      apt:
          name: "{{ packages }}"
          update_cache: yes
          state: latest
      vars:
          packages:
              - bind9
              - bind9utils
              - bind9-doc
      become: yes
    - name: generate named.conf
      template:
          src: named.conf.j2                                                                                   
          dest: ./dns_config_files/named.conf
      delegate_to: localhost
      tags: templating 
    - name: generate named.conf.options
      template:                                                                                                
          src: named.conf.options.j2                                                                           
          dest: ./dns_config_files/named.conf.options
      delegate_to: localhost
      tags: templating
    - name: generate name.conf.local
      template:
          src: named.conf.local.j2
          dest: ./dns_config_files/named.conf.local
      delegate_to: localhost
      tags: templating
    - name: generate forward zone
      template:
          src: for.zone.j2
          dest: "./dns_config_files/for.{{ options.zone_name }}.org"
      delegate_to: localhost
      tags:
          - forzone
          - templating
    - name: generate reverse zone
      template:
          src: rev.zone.j2
          dest: ./dns_config_files/rev{{ item | regex_replace('([0-9]{1,3})\.[0-9]{1,3}\.[0-9]{1,3}', '\1') }}.{{ domain }}.org
      loop: "{{ options.ptr_subnets }}"
      delegate_to: localhost
      tags:
          - revzone
          - templating
    - name: copy named.conf to remote server
      copy:
          src: ./dns_config_files/named.conf
          dest: /etc/bind/.
          owner: bind
          group: bind
          mode: 0755
      become: yes
      tags: cp
    - name: copy named.conf.options to remote server
      copy:
          src: ./dns_config_files/named.conf.options
          dest: /etc/bind/.
          owner: bind
          group: bind
          mode: 0755
      become: yes
      tags: cp
    - name: copy named.conf.local to remote server
      copy:
          src: ./dns_config_files/named.conf.local
          dest: /etc/bind/.
          owner: bind
          group: bind
          mode: 0755
      become: yes
      tags: cp
    - name: copy forward zone  to remote server
      copy:
          src: ./dns_config_files/for.{{ options.zone_name }}.org
          dest: /etc/bind/.
          owner: bind
          group: bind
          mode: 0755
      become: yes
      tags: cp
    - name: copy reverse zone  to remote server
      copy:
          src: ./dns_config_files/rev{{ item | regex_replace('([0-9]{1,3})\.[0-9]{1,3}\.[0-9]{1,3}', '\1') }}.{{ domain }}.org
          dest: /etc/bind/.
          owner: bind
          group: bind
          mode: 0755
      become: yes
      loop: "{{ options.ptr_subnets }}"
      tags: cp

