$TTL 3600
@   IN  SOA     {{ options.zone_name }}. root.{{ options.zone_name }}. (
        2019032301  ;Serial
        3600        ;Refresh    
        1800        ;Retry
        604800      ;Expire
        300         ;Minimum TTL
)
; DNS Servers
{% for item in options.dnsservers %}
{% for key, value in item.items() %}
@       IN      NS      {{ value }}
{% endfor %}
{% endfor %}
; MX Records
{% for item in options.mxrecords %}
{% for key, value in item.items() %}
    IN      {{ key }}   {{ value }}
{% endfor %}
{% endfor %}

; A records
{% for item in options.arecords %}
{% for key, value in item.items() %}
{{ key }}   	IN	    A	    {{ value }}
{% endfor %}
{% endfor %}

; AAAA records
{% for item in options.aaaarecords %}
{% for key, value in item.items() %}
{{ key }}   	IN	    AAAA    {{ value }}
{% endfor %}
{% endfor %}

; Aliases
{% for item in options.cnames %}
{% for key, value in item.items() %}
{{ key }}       IN      CNAME   {{ value }}
{% endfor %}
{% endfor %}
