// jinja2 template version 1.0 for BIND9

acl "trusted" {
{{ options.lan_subnet }};
localhost;
localnets;
};


include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";
