// jinja2 template version 1.0 for BIND9

zone "{{options.zone_name}}" {
        type master;
        file "/etc/bind/for.{{options.zone_name}}.org";
 };
{% for item in options.ptr_subnets %}
zone "{{item}}.in-addr.arpa" {
        type master;
        file "/etc/bind/rev{{item|first}}.{{options.zone_name}}.org";

 };
 {% endfor %}
